body{
    margin: 0;
}
main{
    position: absolute;
    margin: auto;
    left: 11.5%;
    width: 75%;
}
.stats{
    margin-top: 7vh;
    font-family: sans-serif;
    color: #4f4f7e;
}
.stats>div{
    /* background-color: rgb(187, 187, 235); */
    display: inline-block;
    width: 15vw;
    height: 20vh;
    margin: 0 3%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgb(191 191 239);
}
.stats>div>h1{
    display: inline-block;
    font-size: 27px;
    margin-top: 25%;
}

.graphs{
    background-color: rgb(211, 211, 250);
    width: 75%;
    height: 420px;
    margin: 5% 0 0 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(205, 205, 221);
}



aside{
    position: relative;
    float: right;
    padding: 3%;
    width: 20%;
    height: 87vh;
    /* background-color: rgb(13, 13, 82); */
    overflow: auto;
    font-family: monospace;
}
.order-card{
    padding: 5% 7% 2%;
    color: rgb(0, 0, 89);
    background-color: rgb(231, 238, 255);
    margin: 5% 0;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(200 200 200);
    cursor: pointer;
}
.order-card img{
    filter: invert(4%) sepia(77%) saturate(7416%) hue-rotate(246deg) brightness(96%) contrast(121%);
    width: 50px;
    position: absolute;
}
.order-card>h2{
    display: inline;
    margin-left: 70px;
}
.order-card>span[title="Schedule Pickup"]{
    background-color: rgb(0,0,89);
    color: white;
    border-radius: 50%;
    padding: 7px;
    float: right;
}
.order-card>.order-id{
    display: inline-block;
    margin: 5px 0 0 70px;
}
aside .delivery{
    text-align: center;
    margin: 15px 0 1px;
    font-size: 10px;
    color: rgb(145, 143, 164);
}

.order-card.pending-approval{
    background-color: rgb(255, 221, 221);
    color: #8b0000;
    transition: display 1s ease-in-out;
}
.order-card.pending-approval img{
    filter: invert(15%) sepia(27%) saturate(7289%) hue-rotate(348deg) brightness(88%) contrast(124%);
}
.order-card.pending-approval .delivery{
    color: rgb(164, 143, 143);
}
.order-card.pending-approval>span{
    width: 48%;
    display: none;
    text-align: center;
    margin-top: 5%;
    padding: 5% 0;
    color: white;
    border-radius: 15px;
    transition: display 1s ease-in-out;
}
.order-card.pending-approval:hover>span{
    display: inline-block;
}
.order-card.pending-approval:hover>span>i{
    padding-right: 5px;
}
.approve{
    background-color: rgb(63, 255, 63);
}
.reject{
    background-color: rgb(255, 68, 68);
}

nav{
    height: 90vh;
    width: 65px;
    margin: 35px;
    background-color: rgb(168, 168, 237);
    display: block;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgb(168 168 237);
}